@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

a strong {
  color: blue;
}